<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="sk.ukf.aplikacia.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sk.ukf.aplikacia.Perspective"
            icon="icons/sample.gif"
            id="sk.ukf.aplikacia.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Editor"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="sk.ukf.aplikacia.View"
            id="sk.ukf.aplikacia.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="sk.ukf.aplikacia.NavigationView"
            id="sk.ukf.aplikacia.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="sk.ukf.aplikacia.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="sk.ukf.aplikacia.category"
            id="sk.ukf.aplikacia.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="sk.ukf.aplikacia.category"
            id="sk.ukf.aplikacia.openMessage">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="handler"
            description="open file"
            id="sk.ukf.aplikacia.command1"
            name="name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="sk.ukf.aplikacia.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="sk.ukf.aplikacia.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      <key
            commandId="sk.ukf.aplikacia.open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="sk.ukf.aplikacia.key1">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="sk.ukf.aplikacia.application"
            name="Aplikacia">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Aplikacia">
         </property>
      </product>
   </extension>

</plugin>
