<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/gtk-about.png">
         <run
               class="app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="app.Perspective"
            id="app.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="app.View"
            id="app.view"
            name="View">
      </view>
      <view
            class="app.NavigationView"
            id="app.navigationView"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="app.view"
               relationship="bottom"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/Edit.png"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="app.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="app.commands.sampleCommand"
                  icon="icons/Edit.png"
                  id="app.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="app.toolbars.sampleToolbar">
            <command
                  commandId="app.commands.sampleCommand"
                  icon="icons/Edit.png"
                  id="app.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="app.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="app.commands.category"
            id="app.commands.sampleCommand"
            name="Otvor editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="app.handlers.SampleHandler"
            commandId="app.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="app.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="app.product1"
            name="TextEditor">
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="app.application"
            name="Písanie pre deti">
         <property
               name="KidEditor"
               value="Písanie pre deti">
         </property>
         <property
               name="appName"
               value="Písanie pre deti">
         </property>
      </product>
   </extension>

</plugin>
